USE [NextDotNet]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/10/2025 5:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TreePath] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[DepartmentTypeCode] [nvarchar](50) NOT NULL,
	[ParentId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ContactInfo] [nvarchar](500) NULL,
	[ManagerId] [bigint] NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentTypes]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Level] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_DepartmentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[MimeType] [nvarchar](100) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[ReferenceId] [nvarchar](30) NULL,
	[ReferenceType] [nvarchar](100) NULL,
	[Container] [nvarchar](100) NULL,
	[IsPublic] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTitles]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobTitles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](200) NOT NULL,
	[Icon] [nvarchar](100) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ParentId] [int] NULL,
	[Sysmodule] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [int] NOT NULL,
	[SysModule] [nvarchar](250) NOT NULL,
	[Permission] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsProtected] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDepartments]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDepartments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[JobTitleCode] [nvarchar](50) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserDepartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](32) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Gender] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](32) NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](32) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[EmployeeCode] [int] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Avatar] [nvarchar](256) NULL,
	[Phone] [nvarchar](15) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[PhoneVerified] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[TwoFa] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[LockExprires] [datetime2](7) NULL,
	[Language] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 17/10/2025 5:35:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](32) NOT NULL,
	[AccessTokenId] [nvarchar](200) NOT NULL,
	[DeviceId] [nvarchar](100) NOT NULL,
	[Device] [nvarchar](100) NULL,
	[DeviceToken] [nvarchar](500) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[Expires] [datetime2](7) NOT NULL,
	[RefreshToken] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](30) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](30) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250527141025_Initial', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250531084450_update seed value', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250610065721_init role code', N'9.0.4')
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([Id], [FileName], [FileSize], [MimeType], [FilePath], [ReferenceId], [ReferenceType], [Container], [IsPublic], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (6, N'download (2).jpg', 6202, N'image/jpeg', N'D:\Code\MyPj\NextDotNet\Server\NextDotNet.Api\uploads\user_avatar\716572882834034691\3056e134-2e3a-405e-9027-0914f1336a5e_download (2).jpg', N'716572882834034691', N'User_avatar', N'user_avatar\716572882834034691', 0, CAST(N'2025-06-10T03:31:52.1240448' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[Files] ([Id], [FileName], [FileSize], [MimeType], [FilePath], [ReferenceId], [ReferenceType], [Container], [IsPublic], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (7, N'Quotes Creative Typography Wallpaper.jpg', 297071, N'image/jpeg', N'D:\Code\MyPj\NextDotNet\Server\NextDotNet.Api\uploads\user_avatar\716572882834034691\ab18fa92-5173-4e8c-b275-6814f50804a0_Quotes Creative Typography Wallpaper.jpg', N'716572882834034691', N'User_avatar', N'user_avatar\716572882834034691', 0, CAST(N'2025-06-10T03:32:37.2180816' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[Files] ([Id], [FileName], [FileSize], [MimeType], [FilePath], [ReferenceId], [ReferenceType], [Container], [IsPublic], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (8, N'warningImg.png', 1418, N'image/png', N'D:\Code\MyPj\NextDotNet\Server\NextDotNet.Api\uploads\user_avatar\716572882834034691\e9dfcd3c-7fa2-4820-9009-88faae3e7070_warningImg.png', N'716572882834034691', N'User_avatar', N'user_avatar\716572882834034691', 0, CAST(N'2025-06-10T03:32:53.6442965' AS DateTime2), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Url], [Icon], [DisplayOrder], [IsActive], [ParentId], [Sysmodule], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (1, N'Quản trị hệ thống', N'/sys', N'system-update-01', 99, 1, NULL, NULL, CAST(N'2025-06-10T06:57:21.4809820' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[Menus] ([Id], [Name], [Url], [Icon], [DisplayOrder], [IsActive], [ParentId], [Sysmodule], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (2, N'Menus', N'/sys/menu', N'menu-11', 1, 1, 1, N'Menu', CAST(N'2025-06-10T06:57:21.4810031' AS DateTime2), N'System', NULL, NULL, 0)
INSERT [dbo].[Menus] ([Id], [Name], [Url], [Icon], [DisplayOrder], [IsActive], [ParentId], [Sysmodule], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (3, N'Vai trò hệ thống', N'/sys/role', N'mentoring', 2, 1, 1, N'Roles', CAST(N'2025-06-10T06:57:21.4810225' AS DateTime2), N'System', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleId], [SysModule], [Permission]) VALUES (7, N'Users', 3)
INSERT [dbo].[RolePermissions] ([RoleId], [SysModule], [Permission]) VALUES (7, N'Roles', 5)
INSERT [dbo].[RolePermissions] ([RoleId], [SysModule], [Permission]) VALUES (0, N'Users', 5)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsProtected], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted], [Code]) VALUES (1, N'Super Administrator', N'Super Administrator', 1, CAST(N'2025-06-10T06:57:21.3200716' AS DateTime2), N'System', NULL, NULL, 0, N'SUPER_ADMIN')
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsProtected], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted], [Code]) VALUES (2, N'Administrator', N'Administrator', 0, CAST(N'2025-06-10T06:57:21.3200918' AS DateTime2), N'System', NULL, NULL, 0, N'ADMIN')
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsProtected], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted], [Code]) VALUES (3, N'Giám đốc', N'Giám đốc bộ phận', 0, CAST(N'2025-06-10T07:38:15.5404749' AS DateTime2), N'admin', NULL, NULL, 0, N'DIRECTOR')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfiles] ON 

INSERT [dbo].[UserProfiles] ([Id], [UserId], [Address], [DateOfBirth], [Gender], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (1, N'44735527340015616', N'Yên Mỹ , Thanh Trì , Hà Nội', CAST(N'1993-01-15T00:00:00.0000000' AS DateTime2), N'01', CAST(N'2025-06-09T10:14:14.0167519' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[UserProfiles] ([Id], [UserId], [Address], [DateOfBirth], [Gender], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (2, N'01K7EFH9V5NM3WAHTCK95K78J3', N'Yên Mỹ , Thanh Trì , Hà Nội', CAST(N'2025-01-15T00:00:00.0000000' AS DateTime2), N'01', CAST(N'2025-10-14T04:03:00.3766667' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[UserProfiles] ([Id], [UserId], [Address], [DateOfBirth], [Gender], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (3, N'01K7EFH9V5NM3WAHTCK95K78J3', N'Yên Mỹ , Thanh Trì , Hà Nội', CAST(N'1990-04-19T00:00:00.0000000' AS DateTime2), N'01', CAST(N'2025-10-14T04:04:53.5900000' AS DateTime2), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[UserProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (1086, N'01K7ECHGJ7BP30J1SMGT2F685X', 10006)
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (1082, N'01K7EFH9V5NM3WAHTCK95K78J3', 4)
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId]) VALUES (1083, N'01K7EFH9V5NM3WAHTCK95K78J3', 8)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
INSERT [dbo].[Users] ([Id], [UserName], [EmployeeCode], [Email], [PasswordHash], [Avatar], [Phone], [FullName], [EmailVerified], [PhoneVerified], [IsActive], [TwoFa], [IsLocked], [LockExprires], [Language], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'01K7EC3VNT2Q67CW15T67VMXBV', N'1tcu001', 0, N'', N't8qZQCa39NXQDgVMPuf5Shfk7D7yjMCxz29ZaZ7DS/4=:faHpsCozPyM8p0nq6+QnXZk4cgQtp0bZ7hgzjyCJmjw=', NULL, N'', N'Test create user 1', 0, 0, 1, 0, 0, NULL, NULL, CAST(N'2025-10-13T08:48:41.1466667' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[Users] ([Id], [UserName], [EmployeeCode], [Email], [PasswordHash], [Avatar], [Phone], [FullName], [EmailVerified], [PhoneVerified], [IsActive], [TwoFa], [IsLocked], [LockExprires], [Language], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (N'01K7EDBZZBJEPE36XF26X7ZD0K', N'userCreate003', 0, N'', N'8XJeYomcUDGFORD5wpT5Ol34948fEK12tcAwrHwo+IY=:/04bzMot9NTpIZ2nUZgOqwUHsMoTIsfiYWgtrvIFvuU=', NULL, N'', N'Test create user ba', 0, 0, 1, 0, 0, NULL, NULL, CAST(N'2025-10-13T09:10:36.2666667' AS DateTime2), N'admin', NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[UserTokens] ON 

SET IDENTITY_INSERT [dbo].[UserTokens] OFF
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF__Roles__Code__02084FDA]  DEFAULT (N'') FOR [Code]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_EmployeeCode]  DEFAULT ((0)) FOR [EmployeeCode]
GO
